#TopBar {
  background-color: white;
  padding: 1rem;
  display: flex;
}

#TopBarText {
  color: orangered;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
  margin: 4px;
}

#TopBarButton {
  border: 0px;
  margin: 4px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
}

#TopBarButton:hover {
  cursor: pointer;
}

body {
  background-color: teal;
}